<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RedirectServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>redirect.servlet.src.Redirect</servlet-class>
    <init-param>
      <param-name>private_val</param-name>
      <param-value>505</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotFoundServlet</display-name>
    <servlet-name>NotFoundServlet</servlet-name>
    <servlet-class>redirect.servlet.src.NotFoundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotFoundServlet</servlet-name>
    <url-pattern>/notfound</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetCookie</servlet-name>
    <servlet-class>redirect.servlet.src.SetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookie</servlet-name>
    <url-pattern>/setcook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetSessionData</servlet-name>
    <servlet-class>redirect.servlet.src.SetSessionData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSessionData</servlet-name>
    <url-pattern>/setsession</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>val</param-name>
    <param-value>3000</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/exception.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>SendArray</display-name>
    <servlet-name>SendArray</servlet-name>
    <servlet-class>redirect.servlet.src.SendArray</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendArray</servlet-name>
    <url-pattern>/SendArray</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSTLServlet</display-name>
    <servlet-name>JSTLServlet</servlet-name>
    <servlet-class>redirect.servlet.src.JSTLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSTLServlet</servlet-name>
    <url-pattern>/JSTLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectMySQL</display-name>
    <servlet-name>ConnectMySQL</servlet-name>
    <servlet-class>redirect.servlet.src.ConnectMySQL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectMySQL</servlet-name>
    <url-pattern>/ConnectMySQL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Answer</display-name>
    <servlet-name>Answer</servlet-name>
    <servlet-class>mysql.business.Answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer</servlet-name>
    <url-pattern>/Answer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProd</display-name>
    <servlet-name>CreateProd</servlet-name>
    <servlet-class>mysql.business.CreateProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProd</servlet-name>
    <url-pattern>/CreateProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProd</display-name>
    <servlet-name>EditProd</servlet-name>
    <servlet-class>mysql.business.EditProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProd</servlet-name>
    <url-pattern>/EditProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProd</display-name>
    <servlet-name>DeleteProd</servlet-name>
    <servlet-class>mysql.business.DeleteProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProd</servlet-name>
    <url-pattern>/DeleteProd</url-pattern>
  </servlet-mapping>
</web-app>